button {
  display: block;
  outline: none;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

.btn {
  letter-spacing: 0.3px;
}

.btn-outline-primary {
  &:hover {
    color: #fff;
  }
}

.btn-primary {
  color: #fff !important;
}

.cta-more {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #82b97e;
  transition: color 0.2s;

  &:hover {
    color: darken(#82b97e, 5%);
  }

  svg {
    margin-left: 0.5em;
    margin-top: 3px;
  }
}
