button {
  display: block;
  outline: none;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

.btn {
  letter-spacing: 0.3px;
}

.btn-outline-primary {
  &:hover {
    color: #fff;
  }
}

.btn-primary {
  color: #fff !important;
}

.btn-menu-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 30px;
}
