button {
  display: block;
  outline: none;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

.btn {
  letter-spacing: 0.3px;
}

.btn-outline-primary {
  &:hover {
    color: #fff;
  }
}

.btn-primary {
  color: #fff !important;
}
