.container {
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(sm) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include media-breakpoint-only(sm) {
        width: 520px;
    }

    @include media-breakpoint-only(md) {
        width: 720px;
    }

    @include media-breakpoint-only(lg) {
        width: 960px;
    }

    @include media-breakpoint-up(xl) {
        width: 1120px;
    }
}
