.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba($white, 0.95);
    z-index: 1;

    &__inner {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
    }
}
