.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $gray-900;
    align-items: center;

    &__title {
        text-align: center;
        line-height: 1.36;
        margin-bottom: 8px;
    }

    &__descr {
        text-align: center;
        font-size: 18px;
        line-height: 1.555;
        letter-spacing: 0.3px;
        margin-bottom: 51px;
    }

    &__stats {
        display: flex;
        margin-bottom: 68px;
        margin-left: -55px;
        margin-right: -55px;

        .hero-stat {
            margin-left: 55px;
            margin-right: 55px;
        }
    }

    &__cta {
        .btn {
            margin: 0 12px;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
        &__stats {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;

            .hero-stat:not(:last-child) {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 51px;
            }
        }
    }

    @include media-breakpoint-between(sm, md) {
        &__title {
            font-size: 60px;
        }
    }

    @include media-breakpoint-down(sm) {
        &__title {
            font-size: 42px;
            line-height: 1.357;
        }

        &__descr {
            font-size: 16px;
            line-height: 1.75;
            margin-bottom: 70px;
        }

        &__cta {
            .btn {
                width: 100%;

                + .btn {
                    margin-top: 24px;
                }
            }
        }
    }
}
