.info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: $green-100;
    border-radius: 20px;

    &__main {
        width: 100%;
        max-width: 600px;
        flex-shrink: 0;
    }

    &__img {
        width: 100%;
        text-align: center;
    }

    &__descr {
        margin-bottom: 28px;

        > :last-child {
            margin-bottom: 0;
        }
    }

    &__cta {
        .btn + .btn {
            margin-left: 24px;
        }
    }

    &--reverse {
        @include media-breakpoint-down(lg-up) {
            flex-direction: row-reverse;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include media-breakpoint-down(lg) {
        flex-direction: column;

        &__img {
            order: -1;
            margin-bottom: 40px;
        }

        &__main {
            text-align: center;
        }
    }

    @include media-breakpoint-up(lg) {
        &__main {
            width: 480px;
        }

        &__img {
            width: calc(100% - 520px);
        }
    }
}
