.msg-box {
    background: #f4faf3;
    border-radius: 20px;
    padding: 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.454;
    text-align: center;
    letter-spacing: 0.3px;
    color: #282e30;

    @include media-breakpoint-down(md) {
        font-size: 20px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
