.news-slider {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;
    }

    &__cta {
        margin-left: 25px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__items {
    }
}
