.news-slider {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;
    }

    &__cta {
        margin-left: 25px;
    }

    &__title {
        margin-bottom: 0;
    }

    @include media-breakpoint-between(sm, lg) {
        &__slider {
            display: flex;
            grid-gap: 0;
            overflow-x: auto;

            .news-card {
                width: 300px;
                flex-shrink: 0;

                + .news-card {
                    margin-left: 40px;
                }
            }
        }
    }
}
