[class*='site-section--bg'] {
    min-height: 668px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.site-section {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        &:not([class*='site-section--sm']) {
            padding-top: 75px;
            padding-bottom: 75px;
        }
    }

    &--green {
        background-color: #f4faf3;
    }

    &--bg-hp {
        @include media-breakpoint-up(md) {
            background-image: url('../assets/img/hero-hp.png');
        }

        @include media-breakpoint-up(xl) {
            background-size: 100% 100%;
        }
    }

    &--bg-how {
        background-image: url('../assets/img/hero-how.png');

        @include media-breakpoint-down(xl) {
            background-size: auto;
            background-position: 0 bottom;
        }
    }

    &--bg-sla {
        background-image: url('../assets/img/hero-sla.png');

        @include media-breakpoint-down(sm) {
            background-position: -200px bottom;
            background-size: auto;
        }

        @include media-breakpoint-up(xl) {
            background-size: 100% 100%;
        }
    }
}
