.site-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    &__link {
        white-space: nowrap;
        font-family: 'Heebo',
        sans-serif;
    }

    &--header & {
        &__item:not(:last-child) {
            margin-right: 36px;
        }

        &__link {
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.2px;
            border-width: 1px;

            &.is-active {
                border-color: $green;
            }
        }
    }

    &--mobile {
        flex-direction: column;
    }

    &--mobile & {
        &__item {
            margin-bottom: 4.75vh;
        }

        &__link {
            font-weight: 800;
            font-size: 32px;
            line-height: 1;
            letter-spacing: 0.3px;
            border-width: 3px;
        }

        @include media-breakpoint-down(md) {
            &__link {
                font-size: 22px;
            }
        }
    }

    &--header &,
    &--mobile & {
        &__link {
            display: flex;
            padding-top: 2px;
            padding-bottom: 2px;
            border-bottom-style: solid;
            border-color: transparent;

            &.is-active {
                border-color: $green;
            }
        }
    }

    &--footer & {
        &__item:not(:last-child) {
            margin-right: 40px;
        }

        &__link {
            color: $gray-900;

            &:hover {
                color: green;
            }
        }
    }
}
