[class*='site-section--bg'] {
    min-height: 668px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.site-section {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        &:not([class*='site-section--sm']) {
            padding-top: 75px;
            padding-bottom: 75px;
        }
    }

    &--bg-hp {
        @include media-breakpoint-up(md) {
            background-image: url('../assets/img/hero-hp.png');
        }

        @include media-breakpoint-up(xl) {
            background-size: 100% 100%;
        }
    }
}
